**Problem 1:** Unique Words in a Sentence

In [1]:
# Take input from user
sentence = input("Enter sentence: ")

# Convert sentence to lowercase (optional but good practice)
sentence = sentence.lower()

# Split sentence into individual words
words = sentence.split()

# Convert list to set to remove duplicates
unique_words = set(words)

# Display results
print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence: python is easy and python is powerful
Unique words count: 5
Unique words: {'and', 'easy', 'powerful', 'python', 'is'}

**Problem 2:** Highest Salary from Employee Data

In [1]:
# Dictionary storing employee names and their salaries
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Find the employee with the highest salary
# max() with key=employees.get compares based on salary values
highest_paid_employee = max(employees, key=employees.get)

# Get the highest salary value
highest_salary = employees[highest_paid_employee]

# Display result
print(f"Highest Salary: {highest_paid_employee} - {highest_salary}")

Highest Salary: Ravi - 75000

**Problem 3:** Find Maximum and Minimum Values

In [2]:
# List of numbers
numbers = [45, 22, 89, 10, 66]

# Initialize max and min with the first element
maximum = numbers[0]
minimum = numbers[0]

# Loop through the list starting from second element
for num in numbers[1:]:

    # Check for maximum
    if num > maximum:
        maximum = num

    # Check for minimum
    if num < minimum:
        minimum = num

# Display results
print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

**Problem 4:** Count Products Above a Price Threshold

In [3]:
# List of product prices
prices = [450, 1200, 899, 1500, 300]

# Initialize counter
count = 0

# Loop through each price
for price in prices:
    if price > 1000:
        count += 1

# Display result
print("Products above 1000:", count)

Products above 1000: 2

**Problem 5:** Calculate Attendance Percentage

In [4]:
# List representing attendance record
attendance = ["P", "P", "A", "P", "P"]

# Count total days
total_days = len(attendance)

# Count number of present days
present_days = 0
for status in attendance:
    if status == "P":
        present_days += 1

# Calculate attendance percentage
attendance_percentage = (present_days / total_days) * 100

# Display result
print("Attendance Percentage:", attendance_percentage)

Attendance Percentage: 80.0

**Problem 6:** Remove Duplicate Phone Numbers

In [5]:
# List of phone numbers (may contain duplicates)
phone_numbers = [9876543210, 9123456789, 9876543210]

# Convert list to set to remove duplicates
unique_phone_numbers = set(phone_numbers)

# Display result
print("Unique phone numbers:", unique_phone_numbers)

Unique phone numbers: {9876543210, 9123456789}

**Problem 7:** Count Character Frequency

In [6]:
# Example string
text = "pythonp"

# Dictionary to store character counts
char_count = {}

# Loop through each character in the string
for char in text:

    # If character already exists in dictionary, increment count
    if char in char_count:
        char_count[char] += 1
    else:
        # If character appears first time, initialize with 1
        char_count[char] = 1

# Display result
print(char_count)

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

**Problem 8:** Convert List to Tuple

In [7]:
# Original list
numbers_list = [10, 20, 30]

# Convert list to tuple using tuple() function
numbers_tuple = tuple(numbers_list)

# Display result
print("Tuple:", numbers_tuple)

Tuple: (10, 20, 30)

**Problem 9:** Check if a Key Exists in a Dictionary

In [8]:
# Sample dictionary
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Key to search
key_to_check = "Ravi"

# Check if key exists using 'in' keyword
if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

**Problem 10:** Calculate Average Marks

In [9]:
# List of marks
marks = [70, 75, 80, 65]   # Example values

# Calculate total marks
total_marks = sum(marks)

# Calculate number of subjects
number_of_subjects = len(marks)

# Calculate average
average_marks = total_marks / number_of_subjects

# Display result
print("Average Marks:", average_marks)

Average Marks: 72.5